h1 { 
  color: purple;
  font-size: 50px;
  font-family:fantasy;
  text-align: center;
  padding-bottom: 150px;
}
img{
  width: 480px;
  height: 400px;

}
h2 {
  font-size: 40px;
  text-align: left;
}

p {
  font-family: Geneva;
  font-size: 45px;
}
h3 {
  font-size: 35px;
  font-family: arial;
}
ol { 
  font-size: 30px;
  font-family: inherit;
}
ul {
  font-size: 30px;
  line-height: 60px;
  
}
body {
  background-color: rgb(57, 142, 228);
}
